<div class="vote col-md-2">
  <p><a href="/votes/upvote-{{messageId}}?_method=post">Upvote</a></p>
  <p><a href="/votes/downvote-{{messageId}}?_method=post">Downvote</a></p>
  <p>Score: {{messageScore}}</p>
</div>